/*
Reglas
Selectores
Declaraciones
Propiedades
Valores
*/

/*body {
    background: pink;
    color: red
}
*/

/*Selector de etiqueta header - section - article - nav*/
/*Selector descendente*/

/*Selector de clase .
.link */

/*Selector de ID
#portafolio */

/*
gris oscuro = #1d252c
gris claro = #626262
background gris = #1b2127
*/

body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 40px;
    line-height: 1.5em;
    letter-spacing: -.2px;
    color: white;
    margin: 0;
    /*text-transform: uppercase;
    text-decoration: dashed;*/
}

h1 strong{
    color: #026fff;
}

h2 {
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

.hero {
    height: 300px;
    /*background-image: url('');*/
    background-color: #1b2127;
    /*background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.portfolio{
    background: #fafafa;
    padding: 20px;
    /* background: red; */
}

.project {
    /*border-top: 10px solid red;
    border-right: 10px solid green;
    border-left: 10px solid orange;
    border-bottom: 10px solid pink;
    border-color: red;
    border-width: 15px;
    border-style: solid;*/
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-title{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px ;
}

.project-details{
    width: 500px;
}

.project-course{
    margin: 10px 0;

}

.project-description{
    font-size: 20px;
}

.project-date, .project-url{
    margin: 10px 0;
}

.project-imageContainer{
    width: 500px;
}

.project strong{
    font-family: 'Fjalla One', sans-serif;
}

.header{
    background-color: #1b2127;
    color: white;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}

.header a{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
}

.menu{
    height: inherit;
}

.header ol{
    display: flex;
    height: inherit;
    align-items: center;
}

.header ol li{
    height: inherit;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure {
    margin: 0;
}

.footer{
    color: white;
    background-color: #1b2127;
    display: flex;
    justify-content: space-between;
}

.footer img{
    vertical-align: middle;
}

.footer a{
    color: white;
}

.event-list{
    display: flex;
    flex-wrap: wrap;
}

.event-list-title{
    margin-left: 10px;
}

.event{
    margin: 10px;
    width: 480px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden ;
    background: #f4fbff;
}

.event img{
    width: 480px;
    height: 200px;
    object-fit: cover;
}

.event-detail{
    margin: 20px 40px;
    margin-top: -40px;
    background-color: white;
    position: relative;
    padding: 20px;
    text-align: center;
}

.event-description{
    text-align: left;
}

.event-url{
    color: #056fff;
    border: 1px solid;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.contact{
    background-color: #056fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social{

}

.social-link{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    margin: 0 10px;
}

.social-link.twitter{
    background-image: url('https://upload.wikimedia.org/wikipedia/fr/c/c8/Twitter_Bird.svg');
    background-size: 50px 50px;
}
.social-link.facebook{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg');
    background-size: 50px 50px;
}
.social-link.github{
    background-image: url('https://image.flaticon.com/icons/svg/25/25231.svg');
    background-size: 50px 50px;
}
.social-link.instagram{
    background-image: url('https://www.edigitalagency.com.au/wp-content/uploads/instagram-logo-svg-vector-for-print.svg');
    background-size: 50px 50px;
}

.form-email input{
    border-color: gray;
    padding: 10px 20px 10px 25px;
    border-radius: 5px;
    border-style: solid;
}

.form-email button{
    display: block;
    margin-top: 10px;
    background: transparent;
    color: white;
    padding: 10px 0;
    width: 100px;
    border-radius: 5px;
}

.form-email h3{
    font-family: 'Source Sans Pro', sans-serif;
}

.container{
    width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}